
<!-- slider platzhalter, wird sonst standardmäßig dem body appended-->


<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
        <h5>MAGIC</h5>
    	<div id="slidecaption"></div>

    </div>   
	
	<div class="control-nav" id="slider-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        <a  href='#menu' id="nextsection"><i class="font-icon-arrow-simple-down"></i></a>
       
    </div>
    
</div>

<main></main>

<!--<script src="../../assets/js/supersized.3.2.7.min.js"></script>
<script src="../../assets/js/slider.js"></script>-->


